{{ define "base" }}
    <!doctype html>
    <!--suppress HtmlUnknownTarget -->
    <html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{{ .Title }}</title>

        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="//unpkg.com/alpinejs" defer></script>
        <link rel="stylesheet" href="/static/app.css"/>
    </head>
    <body>
    <header class="topbar">
        <div class="container">
            <div class="brand">🏆 Master of Games</div>
            <nav class="nav">
                <a class="navlink" href="/">Log</a>
                <a class="navlink" href="/weeks/current">Week</a>
                <a class="navlink" href="/years/{{ .YearNow }}">Year</a>
            </nav>
        </div>
    </header>

    <main class="container" id="main">
        {{ template "main" . }}
    </main>

    <footer class="container footer">
        version: {{.Version}}<br>
        {{if ne .BuildTime ""}}built: {{.BuildTime}}<br>{{end}}
        started: {{.StartTime}}
    </footer>
    </body>
    </html>
{{end}}